@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/background4.png");
  background-attachment: fixed;
  color: #0a2324;
  scroll-behavior: smooth;
  /* impedisce lo scroll orizzontale indesiderato, che causa problemi con il menu a tendina  */
  overflow-x: hidden;
  width: 100%;
  position: relative; /* Aiuta a contenere gli elementi assoluti */
}

@theme {
  /*    Variabile keyframe entrata scritte pagina home    */
  --animate-fade-in-slide-up: fade-in-slide-up 900ms ease-out forwards;
}
@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    /* La tua trasformazione originale: 20px verso destra */
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
